body {
	font-family: 'Open Sans', sans-serif;
	background-color: #544B44;
	color: white;
}

h1 {
	font-size: 3rem;
}
.colorful {
	color: #E71989;
}
p {
	text-align: justify;
}
.banner {
	display: flex;
}
.txt {
	width: 50%;
	margin:10%
}
a {
	background-image: linear-gradient(hsl(327, 98%, 49%), #E71989);
	padding: 5px 20px;
    text-decoration: none;
	font-weight: bold;
	color: white;
	border-radius: 10px;
	margin-top:;	
}
.photo {
	margin: 10px;
}